body {
  font-family: sans-serif;
}

.main {
  border: 2px solid lightgray;
  border-radius: 10px;
  width: 600px;
  margin: 20px auto;
}

.box {
  padding: 10px 20px;
}

.heading {
  font-size: 30px;
  margin-left: 10px;
}

.subHeading {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
  color: gray;
}

.footer {
  border: 1px solid lightgray;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  color: #2d72de;
  box-sizing: border-box;
  padding: 20px 25px;
}

.box-img {
  border-radius: 100px;
  height: 80px;
  margin: 35px;
}
