body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: #1de592;
  border-radius: 10px;
  padding: 80px;
  margin: 20px auto;
  width: 450px;
  height: 400px;
}

.title {
  font-weight: bold;
  font-size: 50px;
  box-sizing: border-box;
  margin: 10px;
}

.subtitle {
  box-sizing: border-box;
  margin-top: 14px;
  margin-left: 14px;
}

.btn {
  background-color: white;
  border-radius: 25px;
  border: none;
  padding: 18px 50px;
  margin-left: 10px;
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
