body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  border-radius: 10px;
  border-color: 1px solid lightgray;
  width: 450px;
  border: 1px solid lightgray;
  margin: 50px auto;
}

.subscribe-text {
  color: gray;
  font-size: 18px;
  font-weight: bold;
}

.box {
  margin: 20px;
}

.box-img {
  width: 30px;
}

.main-img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  height: 300px;
}

.heading {
  color: black;
  font-size: 25px;
}

.sub-heading {
  color: gray;
  font-size: 14px;
  margin-right: 20px;
  font-weight: bold;
}

.footer {
  color: #2d72de;
  border: 1px solid lightgray;
  margin: 20px;
  font-weight: bold;
  padding: 10px 40px 10px 30px;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}
